
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form role="form">
    <div class="form-group">
        <label class="control-label" for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
        <label class="control-label" for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-default">Log in</button>
</form>